@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  --text-color: rgb(25, 36, 66);
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom left, #E7EBEC, #afd0f647 30%, #FFFFFF);
  height: 100vh; /* This ensures that the gradient covers the entire viewport height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.reveal {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

