@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  --text-color: rgb(25, 36, 66);
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom left, #E7EBEC, #afd0f647 30%, #FFFFFF);
  height: 100vh;
}

#projects {
  background: linear-gradient(to top left, #E7EBEC, #afd0f647 30%, #FFFFFF);
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.three-canvas {
  touch-action: auto !important;
}

.reveal {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

pre {
  white-space: pre-line;
}

code {
  font-size: 16px;
  white-space: pre-line;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

